<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        #outerBox{
            border:1px solid gray;
            margin-Left:33%;
            margin-Top:10%;
            padding:35px;
            width:30%;
            text-Align:center;                
        }
        a{
            text-decoration :none;
        }
    </style>
    <body>
        <div id="outerBox">
            <h1>Successfully Logged In </h1>
            <button>
                <a href='/logout'>
                    Logout
                </a>
            </button>
        </div>        
    </body>
</html>